@import '../../stylesheet/_responsive.scss';

.blog-posts__filters {
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;

    @include mobile {
        padding: 1rem 5vw;
        margin: 0 -5vw 1rem;
        position: sticky;
        top: 60px;
        z-index: 10;
        background-color: white;
        box-shadow: 0 1px 0 0 rgba( 0, 0, 0, 0.1 );

        .button-group__wrapper > small {
            display: none;
        }
    }
}

.blog-posts__grid {
    display: grid;
    grid-template-columns: repeat( 3, 1fr );
    grid-gap: 5rem;
    width: 100%;

    @include mobile {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }
}