// main: ../index.scss

a {
    color: unset;
}

:root {
    --color-elementor-primary       : #92003B;
    --color-elementor-primary-hover : #B74573;
    --color-elementor-accent        : #FF7BE5;
    --color-grey-dark               : #777777;
    --color-ui-border               : #EBEBEB;
}